:root {
  --color-primary: #0891b2;
  --color-primary-dark: #0e7490;
  --color-primary-light: #06b6d4;
  --color-on-primary: #1f2937;
  --color-primary-container: rgba(151, 198, 216, 0.50);
  --color-on-primary-container: #4c05ae;
  --color-secondary: #8a2e5b;
  --color-on-secondary: #ffffff;
  --color-secondary-container: rgba(239, 212, 231, 0.27);
  --color-on-secondary-container: #7f128f;
  --color-tertiary: #0f9da1;
  --color-on-tertiary: #ffffff;
  --color-tertiary-container: rgba(153, 236, 236, 0.37);
  --color-on-tertiary-container: #05746b;
  --color-error: #e43d3d;
  --color-on-error: #ffffff;
  --color-error-container: rgba(255, 206, 198, 0.63);
  --color-on-error-container: #9a0404;

  --display-display-large-font-family: 'Inter';
  --display-display-large-font-size: 60px;
  --display-display-large-font-weight: 500;
  --display-display-large-line-height: 90px;
  --display-display-large-letter-spacing: -3.5px;
  --display-display-large-font-style: normal;
  --display-display-large-text-decoration: none;
  --display-display-medium-font-family: 'Inter';
  --display-display-medium-font-size: 52px;
  --display-display-medium-font-weight: 500;
  --display-display-medium-line-height: 78px;
  --display-display-medium-letter-spacing: -3px;
  --display-display-medium-font-style: normal;
  --display-display-medium-text-decoration: none;
  --display-display-small-font-family: 'Inter';
  --display-display-small-font-size: 42px;
  --display-display-small-font-weight: 500;
  --display-display-small-line-height: 63px;
  --display-display-small-letter-spacing: -2px;
  --display-display-small-font-style: normal;
  --display-display-small-text-decoration: none;
  --headline-headline-large-font-family: 'Inter';
  --headline-headline-large-font-size: 32px;
  --headline-headline-large-font-weight: 500;
  --headline-headline-large-line-height: 48px;
  --headline-headline-large-letter-spacing: -1px;
  --headline-headline-large-font-style: normal;
  --headline-headline-large-text-decoration: none;
  --headline-headline-medium-font-family: 'Inter';
  --headline-headline-medium-font-size: 28px;
  --headline-headline-medium-font-weight: 500;
  --headline-headline-medium-line-height: 42px;
  --headline-headline-medium-letter-spacing: -1px;
  --headline-headline-medium-font-style: normal;
  --headline-headline-medium-text-decoration: none;
  --headline-headline-small-font-family: 'Inter';
  --headline-headline-small-font-size: 24px;
  --headline-headline-small-font-weight: 500;
  --headline-headline-small-line-height: 36px;
  --headline-headline-small-letter-spacing: -1px;
  --headline-headline-small-font-style: normal;
  --headline-headline-small-text-decoration: none;
  --title-title-large-font-family: 'Inter';
  --title-title-large-font-size: 22px;
  --title-title-large-font-weight: 600;
  --title-title-large-line-height: 33px;
  --title-title-large-letter-spacing: -1px;
  --title-title-large-font-style: normal;
  --title-title-large-text-decoration: none;
  --title-title-medium-font-family: 'Inter';
  --title-title-medium-font-size: 16px;
  --title-title-medium-font-weight: 600;
  --title-title-medium-line-height: 24px;
  --title-title-medium-letter-spacing: -1px;
  --title-title-medium-font-style: normal;
  --title-title-medium-text-decoration: none;
  --title-title-small-font-family: 'Inter';
  --title-title-small-font-size: 14px;
  --title-title-small-font-weight: 500;
  --title-title-small-line-height: 21px;
  --title-title-small-letter-spacing: -0.85px;
  --title-title-small-font-style: normal;
  --title-title-small-text-decoration: none;
  --body-body-large-font-family: 'Inter';
  --body-body-large-font-size: 16px;
  --body-body-large-font-weight: 500;
  --body-body-large-line-height: 24px;
  --body-body-large-letter-spacing: -0.95px;
  --body-body-large-font-style: normal;
  --body-body-large-text-decoration: none;
  --body-body-medium-font-family: 'Inter';
  --body-body-medium-font-size: 14px;
  --body-body-medium-font-weight: 500;
  --body-body-medium-line-height: 21px;
  --body-body-medium-letter-spacing: -0.95px;
  --body-body-medium-font-style: normal;
  --body-body-medium-text-decoration: none;
  --body-body-small-font-family: 'Inter';
  --body-body-small-font-size: 12px;
  --body-body-small-font-weight: 500;
  --body-body-small-line-height: 18px;
  --body-body-small-letter-spacing: -0.8px;
  --body-body-small-font-style: normal;
  --body-body-small-text-decoration: none;
  --label-label-large-font-family: 'Inter';
  --label-label-large-font-size: 14px;
  --label-label-large-font-weight: 500;
  --label-label-large-line-height: 21px;
  --label-label-large-letter-spacing: -0.119px;
  --label-label-large-font-style: normal;
  --label-label-large-text-decoration: none;
  --label-label-medium-font-family: 'Inter';
  --label-label-medium-font-size: 12px;
  --label-label-medium-font-weight: 500;
  --label-label-medium-line-height: 18px;
  --label-label-medium-letter-spacing: -0.06px;
  --label-label-medium-font-style: normal;
  --label-label-medium-text-decoration: none;
  --label-label-small-font-family: 'Inter';
  --label-label-small-font-size: 11px;
  --label-label-small-font-weight: 500;
  --label-label-small-line-height: 16.5px;
  --label-label-small-letter-spacing: -0.055px;
  --label-label-small-font-style: normal;
  --label-label-small-text-decoration: none;
}
